!!!
%html
  %head
    %title jQuery - Event Playback and Recording Library
    %link{ :rel => 'stylesheet', :href => 'style.css' }
  %body
    %a{ :href => PROJECT_URL }
      %img#ribbon{ :src => 'http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', :alt => 'Fork me on GitHub' }
 
  #container
    #download
      %a{ :href => PROJECT_URL + '/downloads' }
        %img{ :src => 'http://github.com/images/modules/download/zip.png' }
      %a{ :href => PROJECT_URL + '/downloads' }
        %img{ :src => 'http://github.com/images/modules/download/tar.png' }

    = title 'EventPlayback', ''
 
    %p
      jquery.event-playback is a simple yet extremely effective library for recording, and playing back recorded event sessions. These sessions play back nearly identical to the original interactions, displaying a fake cursor, simulating element hovering, and more.
 
    .footer
      this mini site brought to you by : 
      %a{ :href => project_url('visionmedia', 'mini') } visionmedia/mini